{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Мои проекты</h1>
<div class="row">
{% for nnastia in nnastias %}
    <div class="col-md-4">
      <div class="card md-2">
        <img class="card-img-top" src="{% static nnastia.image %}">
        <div class="card-body">
          <h5 class="card-title">{{ nnastia.title }}</h5>
          <p class="card-text">{{ nnastia.description }}</p>
          <a href="{% url 'nnastia_detail' nnastia.pk %}"
            class="btn btn-primary">
            Подробнее
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

